# global
**/__pycache__
**/_ignore
**/.dist_test
**/.pytest_cache
**/*.egg-info
**/*.TAG
**/dist
**/*.so
*.so
**/build
**/tmp
**/output
**/work_dirs
logs
ckpts
log
ckpt

analyze/show
cross_selective_scan
classification/models/pscan.py
classification/configs/heat
classification/models/heat
classification/models/heat.py
classification/models/vim.py
classification/models/pscan.py

detection/data
segmentation/data

kernels/selective_scan/1.log
classification/dev.py
classification/models/triton_parts.py
classification/1.log
kernels/selective_scan/test_selective_scan_speed.py
kernels/selective_scan/test_selective_scan_easy.py
kernels/selective_scan/ssmtriton.py
test.sh
classification/models/vmamba copy.py
kernels/selective_scan/ssmjax.py
