# global
**/__pycache__
**/_ignore
**/.dist_test
**/.pytest_cache
**/*.egg-info
**/*.TAG
**/dist
tmp
output
work_dirs
logs
ckpts
log
ckpt

analyze/show

cross_selective_scan

classification/models/pscan.py

# we do not release code of heat series
classification/configs/heat
classification/models/heat
classification/models/heat.py
classification/models/vim.py
classification/models/pscan.py

detection/data
detection/work_dirs

segmentation/data
segmentation/work_dirs

selective_scan/build

