# torch==1.13.0 # due to the security warning in github 
torch>=1.13.1 
torchvision==0.14.0 
torchaudio==0.13.0 
packaging
timm==0.4.12
pytest chardet yacs termcolor
submitit tensorboardX
fvcore
seaborn
